.footer-container {
    background-color: #000;
    opacity: 0.9;
    height: 300px;
    margin-top: 5rem;
    color: #ccc;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 15%;
    flex-direction: column;
}

.footer-container .first-line,
.footer-container .second-line {
    margin-bottom: 1.5rem;
}

.footer-container .second-line span,
.footer-container .three-line span {
    margin-right: 10rem;
    text-decoration: underline;
    text-decoration-color: #ccc;
    text-decoration-thickness: 1px;
    cursor: pointer;
}
